### node ###
/node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### local plugin support ###
/Local
/FlowPluginsTs/LocalFlowPlugins
/FlowPlugins/LocalFlowPlugins
/FlowPluginsTs/FlowHelpers/Local
/FlowPlugins/FlowHelpers/Local